<style type="text/css">
	body{
		text-align: center;
		font-family: sans-serif;
		color: #eee;
		background-color: #333;
	}
	a{
		text-decoration: none;
		color: #cc1;
	}

</style>

<h1>Here is nothing yet, but there is something there:</h1>


	<p>
		<a href="diaper/index.html">Diaper Database</a>
	</p>
	<p>
		<a href="spiral/index.html">Big Hypno Spiral</a>
	</p>
	<p>
		<a href="wiki">ABDL Wiki</a>
	</p>
