<title>Diaper Database</title>
<script src="vue.js"></script>
<link rel="stylesheet" href="style.css">
<div id="app">
<h2>Diaper Database</h2>

<p v-if="!isLoaded">Trying to load JSON file ...</p>

<p>My bad attempt to list all adult diapers with colorfull prints.</p>
<select v-model="viewStyle">
	<option value="gallery">Display as gallery</option>
	<option value="table">Display as table</option>
</select>

<h3><a href="#diapers">Diapers</a></h3>  
<section id="diapers">
	<table v-if="viewStyle=='table'" class="table">
		<tr v-for="(diaper, did) in diapers">
			<td class="name">
				{{diaper.name}}
			</td>	<td class="brand">
				<template v-if=" diaper.brand!='' ">
					by {{brands[diaper.brand].name}}
				</template>
				<template v-else>
					by ?
				</template>
			</td>	<td class="filledCell">
				<img v-if="diaper.brand!=''" :src="brands[diaper.brand].imageUrl">
				<img v-else src="img/none.png">	
			</td>	<td class="filledCell">
				<template v-if="!diaper.images || (diaper.images == 0)">
					<img src="img/none.png">
				</template>
				<template v-else>
					<img v-for="i in diaper.images" :src="'img/diapers/'+did+'/'+i+'.png'">
				</template>
			</td>	<td>
				<a :href="diaper.url"  target="_blank">
					<span class="small-icon"  role="img" aria-label="shop">🛒</span>
				</a>
				<a v-if="diaper.artist" :href="diaper.artist.url"  target="_blank">
					<span class="small-icon"  role="img" aria-label="artist">🎨</span>
				</a>
			</td>	<td>
				{{diaper.sizes.join(', ')}}
			</td>
		</tr>	
	</table>

	<ul v-if="viewStyle=='gallery'" class="gallery">
		<li v-for="(diaper, did) in diapers">
			<div>
				<p class="name">
					{{diaper.name}}
				</p>
				<p>
					<template v-if=" diaper.brand!='' ">
						by {{brands[diaper.brand].name}}
					</template>
					<template v-else>
						by ?
					</template>
				</p>
				<p class="img scroller-outer">
					<span :class="'scroller-inner'+' '+'scroller-'+diaper.images">
						<img v-for="i in diaper.images" :src="'img/diapers/'+diaper.brand+'/'+did+'/'+i+'.png'">
						<img :src="'img/diapers/'+diaper.brand+'/'+did+'/'+1+'.png'">
					</span>
				</p>
				<p>
					{{diaper.sizes.join(', ')}}
				</p>
				<p>
					<a :href="diaper.url"  target="_blank">
						<emoji icon="🛒" description="shop"></emoji>
					</a>
					<a v-if="diaper.artist" :href="diaper.artist.url" target="_blank">
						<emoji icon="🎨" :description="'Artist: '+diaper.artist.name"></emoji>
					</a>
				</p>
			</div>
		</li>
	</ul>
</section>

<!------------------------------------------------------------------------------------------------>

<h3><a href="#brands">Brands</a></h3>  
<section id="brands">
	<table v-if="viewStyle=='table'" class="table">
        <tr v-for="(brand,bid) in brands">
			<td>
				<input type="checkbox" :id="bid+'_isActive'">
				<label :for="bid+'_isActive'">Include</label>				
			</td>	<td class="name">
				{{brand.name}}
			</td>	<td class="filledCell">
				<img :src="brand.imageUrl" />
			</td>	<td>
				<emoji :icon="brand.countryIcon" :description="brand.country"></emoji>
			</td>	<td>
				<a :href="brand.homepage" target="_blank">
					<emoji icon="🛒" description="shop"></emoji>
				</a>
			</td>      
        </tr>    
    </table>

    <ul v-if="viewStyle=='gallery'" class="gallery">
        <li v-for="(brand,uid) in brands">
			<div>				
				<p>
					<input type="checkbox" :id="uid+'_isActive'">
					<label :for="uid+'_isActive'">Include</label>				
				</p>				
				<p class="name">{{brand.name}}</p>
			</div>	        
			<img :src="brand.imageUrl" />
			<div>
				<p>
					<emoji :icon="brand.countryIcon" :description="brand.country"></emoji>
				</p>
				<p>
					<a :href="brand.homepage" target="_blank">
						<emoji icon="🛒" description="shop"></emoji>
					</a>
				</p>
			</div>      
        </li>    
    </ul>
</section>
<emoji icon="🛒" description="shop"></emoji>
</div>
<script>

/*
Useage: 
	<emoji icon="🛒" description="shop"></emoji>
Becomes:
	<span class="emoji" title="shop" role="img" aria-label=shop>🛒</span>
*/
Vue.component('emoji', {
	props: ['icon', 'description'],
	template: `
		<span class="emoji" :title="description" role="img" :aria-label=description>{{icon}}</span>
	`
});

var app = new Vue({
    el: '#app',
    data: {
		isLoaded: false,
		viewStyle: "gallery",
		brands:[],
		diapers:[]
    },
	mounted () {
		var self = this;  
		var getUser_url = "data.json";
		fetch(getUser_url)
		.then(function (response) {
			return response.json();
		})
		.then(function (loadedData) {
			// Just the ones we need
			self.brands  = loadedData.brands;
			self.diapers = loadedData.diapers;
			self.isLoaded = true;
		});
 	},
	methods: {
	}
});

</script>
