body{
	background-color: #333;
	font-size: 12px;
	color: #eee;
	font-family: sans-serif;
}

/******************************************/

.emoji{
	font-size: 2em;
	vertical-align: middle;
}

/******************************************/
/*
section:not(:target){
	display: none;
}
section > h3{
	display: block;
}

section:target{
	display: block;
	border: 0.2em double #555;
}

/******************************************/

table.table > tbody > tr > td > label{
	display: none;
}

table.table > tbody > tr:nth-of-type(2n-1) > td {
	background-color: #222;	
}

table.table > tbody > tr:nth-of-type(2 n) > td {
	background-color: #111;	
}

table.table > tbody > tr > td{
	overflow: hidden;
	padding: 0px 10px;
	border: solid #000 1px;
	min-width: 4px;
	border-radius: 10px;
}


table.table > tbody > tr > td.filledCell{
	padding: 0;
	border: 1px solid #000;
}

table.table > tbody > tr > td.name{
	font-weight: bolder;
}

table.table > tbody > tr > td > img {
	border-radius: 10px;
	height: 80px;
}

table.table > tbody > tr > td > img:nth-of-type(n+2) {
	border-left: #111 dotted 1px;
}

/******************************************/

ul.gallery {
	display: inline;
	padding: 0;
}

ul.gallery > li {
	background-color: #222;
	border-width: 2px;
	border-style: solid;
	/*border-color: #111 #888 #888 #111;*/
	border-color: #111;
	border-radius: 5px;
	overflow: hidden;	
	text-align: center;
	display: inline-block;
	width: 150px;
	margin: 5px;
}
ul.gallery > li > img{
	display: block;
	width: 100%;
}
ul.gallery > li > img:hover{
}
ul.gallery > li > div {}

ul.gallery > li > div > .name{	
	height: 32px;
	width: 150px;
	display: table-cell;
	font-weight: bolder;
}
ul.gallery > li > div > p{
	margin: 0;
	background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.4) 100%);
	box-shadow: inset -2px -2px 4px rgba(0,0,0,0.8), inset 2px 2px 4px rgba(255,255,255,0.5);
}
ul.gallery > li > div > p.img{
	box-shadow: none;
}

/******************************************/



.scroller-outer{
	width: 150px;
	overflow: hidden;
}
.scroller-outer > .scroller-inner:hover {
	animation-play-state: running;
}
.scroller-outer > .scroller-inner {
	animation-play-state: paused;	
	display: table;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
} 
.scroller-outer > .scroller-inner > img{
	outline: solid 1px black;
	display: table-cell;
	height: 150px;
	min-width: 150px;
}


.scroller-outer > .scroller-2 {animation-duration: 4s; animation-name: scroller-2; }
@keyframes scroller-2{	0% {margin-left: 0px;}	100%{margin-left: -300px;} }

.scroller-outer > .scroller-3 {animation-duration: 6s; animation-name: scroller-3; }
@keyframes scroller-3{	0% {margin-left: 0px;}	100%{margin-left: -450px;} }

.scroller-outer > .scroller-4 {animation-duration: 8S; animation-name: scroller-4; }
@keyframes scroller-4{	0% {margin-left: 0px;}	100%{margin-left: -600px;} }

.scroller-outer > .scroller-5 {animation-duration: 10s; animation-name: scroller-5; }
@keyframes scroller-5{	0% {margin-left: 0px;}	100%{margin-left: -750px;} }

.scroller-outer > .scroller-6 {animation-duration: 12s; animation-name: scroller-6; }
@keyframes scroller-6{	0% {margin-left: 0px;}	100%{margin-left: -900px;} }

.scroller-outer > .scroller-7 {animation-duration: 14s; animation-name: scroller-7; }
@keyframes scroller-7{	0% {margin-left: 0px;}	100%{margin-left: -1050px;} }

