<style> 
	body {
		height:100%;
		overflow: hidden;
		background-color: #f2d; /*adjust this for the starting color*/
		margin: 0;
	}
	
	.bg{
		position: absolute;
		top:  50%;
		left: 50%;
		width: 5000px;
		height: 5000px;
		margin: 0;
	
		/*filter: blur(3px);*/ /*disabled for performance reasons*/
		opacity: 15%; /* how visible the spiral is*/
		background-image: url("spiral_bw.png");
		background-color: #000;
		background-size: 5000px; /*adjust for more zoomed out view*/
		background-repeat:no-repeat;
		background-position: center center;
	
	
		animation-duration: 1.5s; /*adjust this for rotation speed*/
		animation-name: spinning;
		transform: translate(-50%, -50%);
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	@keyframes spinning {
		from {
			transform: translate(-50%, -50%) rotate(0deg);
		}
		to {
			transform: translate(-50%, -50%) rotate(360deg); 
		}
	}
	
	</style>
	<script type="text/javascript">
		function shuffle(){ 
			// TODO: add more spirals or more color
			rChan = _=> Math.random()*255;
			let rcolor = `rgb(${rChan()},${rChan()},${rChan()})`;
			document.body.style.backgroundColor = rcolor;
		}	
	</script>
	<body onload="">
		<div class="bg" onclick="shuffle()"></div>
	</body>
